<!--Filename = add_product.html-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <header>
        <h1 class="topic">Produkt hinzufügen</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/add_buy">Kauf hinzufügen</a></li>
                <li><a href="/watch">Übersicht</a></li>
                <li><a href="#" onclick="history.back();">Zurück</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>

            <form method="post">
                <label for="product">Produktname:</label>
                <input type="text" id="product" name="product" placeholder="Produktname" required><br>
                <label for="barcode">Produktbarcode:</label>
                <input type="text" id="P_barcode" name="P_barcode" placeholder="Produktbarcode" required><br>
                <label for="price">Preis:</label>
                <input type="number" id="price" name="price" required placeholder="Preis" step="0.01"><br>
                <button class="bt" type="submit">Hinzufügen</button>
            </form>
        </div>
    </main>
</body>

</html>