<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kauf hinzufügen</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<style type="text/css">
    .productBarcodeInput {
        display: none;

    }

    .productBarcodeLabel {
        display: none;
        
    }
</style>
<body>
    <header>
        <h1 class="topic">Kauf</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/add_buy">Kauf hinzufügen</a></li>
                <li><a href="#" onclick="history.back();">Zurück</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Kauf hinzufügen</h1>
            <p>Scanne den speziellen Barcode "Brake", um den Kauf abzuschließen.</p>
            <form id="buyForm" action="/add_buy" method="post">
                <label for="TN_Barcode" class="participantBarcodeLabel">Teilnehmerbarcode:</label>
                <input id="TN_Barcode" name="TN_Barcode" class="participantBarcodeInput" autofocus autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode1" class="productBarcodeLabel" style="display:none;">Produktbarcode 1:</label>
                <input id="P_Barcode1" name="P_Barcode1" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode2" class="productBarcodeLabel" style="display:none;">Produktbarcode 2:</label>
                <input id="P_Barcode2" name="P_Barcode2" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode3" class="productBarcodeLabel" style="display:none;">Produktbarcode 3:</label>
                <input id="P_Barcode3" name="P_Barcode3" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode4" class="productBarcodeLabel" style="display:none;">Produktbarcode 4:</label>
                <input id="P_Barcode4" name="P_Barcode4" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode5" class="productBarcodeLabel" style="display:none;">Produktbarcode 5:</label>
                <input id="P_Barcode5" name="P_Barcode5" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode6" class="productBarcodeLabel" style="display:none;">Produktbarcode 6:</label>
                <input id="P_Barcode6" name="P_Barcode6" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <label for="P_Barcode7" class="productBarcodeLabel" style="display:none;">Produktbarcode 7:</label>
                <input id="P_Barcode7" name="P_Barcode7" class="productBarcodeInput" style="display:none;" autocomplete="off" inputmode="none" autocorrect="off" spellcheck="false">
                <input type="submit" value="Kauf hinzufügen">
            </form>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            let barcodeInputs = ['P_Barcode1', 'P_Barcode2', 'P_Barcode3', 'P_Barcode4', 'P_Barcode5', 'P_Barcode6', 'P_Barcode7'];
            let currentIndex = 0;
            let barcodeInput = '';
            const SPECIAL_BARCODE = 'Brake';

            // Hide all product barcode input fields and their labels initially
            barcodeInputs.forEach(id => {
                document.getElementById(id).style.display = 'none';
                document.querySelector(`label[for=${id}]`).style.display = 'none';
            });

            // Show the first product barcode input field
            document.getElementById(barcodeInputs[currentIndex]).style.display = 'flex';
            document.querySelector(`label[for=${barcodeInputs[currentIndex]}]`).style.display = 'flex';

            // Listen for keypress events on the document
            document.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault();

                    if (currentIndex === 0 && e.target.id === 'TN_Barcode') {
                        // Move focus to the first product barcode input field
                        document.getElementById(barcodeInputs[currentIndex]).style.display = 'block';
                        document.querySelector(`label[for=${barcodeInputs[currentIndex]}]`).style.display = 'block';
                        document.getElementById(barcodeInputs[currentIndex]).focus();
                        barcodeInput = ''; // Reset barcode input
                    } else {
                        // Set the current input field with the scanned barcode value
                        document.getElementById(barcodeInputs[currentIndex]).value = barcodeInput;
                        if (barcodeInput === SPECIAL_BARCODE) {
                            document.getElementById(barcodeInputs[currentIndex]).value = ''; // Clear the special barcode
                            // Submit the form if the special barcode is scanned
                            document.getElementById('buyForm').submit();
                        } 
                        else {
                            barcodeInput = ''; // Reset barcode input
                            currentIndex++;

                            if (currentIndex < barcodeInputs.length) {
                                document.getElementById(barcodeInputs[currentIndex]).style.display = 'block';
                                document.querySelector(`label[for=${barcodeInputs[currentIndex]}]`).style.display = 'block';
                                document.getElementById(barcodeInputs[currentIndex]).focus();
                            }
                        }
                    }
                } else {
                    // Append the character to the barcode input
                    barcodeInput += e.key;
                }
            });
        });
    </script>
</body>
</html>
